:root {
	--color-background: #07000b;
	--color-background-alt: #11001c;
	--color-highlight: #a30292;
	--color-highlight-alt: #6f02b0;
	--color-text: #fffafe;
	--color-text-alt: #fbf6ff;

	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1024px;

	--transition: 0.2s ease-out;
}
